body {
  background-image: url('./images/shattered-darker.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
}



/* INTRO STYLING */

.intro-container {
  min-height: 80vh;
}

.intro-name {
  font-family: "Roboto", sans-serif;
  font-size: 350%;
  margin: 10vh auto 10vh auto;
  padding: 2%;
  width: fit-content;
}

.intro-introduction {
  font-family: 'Lato', sans-serif;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  font-size: 200%;
  padding: 5%;
  border: 3px solid black;
  background-color: #333;
  color: white;
  opacity: 0.65;
}

@media (max-width: 1100px) {
  .intro-introduction {
    font-size: 175%;
  }
}



/* SKILLS STYLING */

.skills-container {
  min-height: 90vh;
}

.skills-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  margin: 10vh auto 10vh auto;
  padding: 2%;
  width: fit-content;
}

.skills-icon-container {
  display: flex;
  flex-wrap: wrap;
  width: 60%;
  margin: 5vh auto 0 auto;
  justify-content: space-evenly;
}

/* SKILL STYLING */

.skill-container {
  margin: 5%;
  border: 3px solid #555;
}

.skill-container h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 125%;
  background-color: #555;
  color: #ddd;
  margin-top: 15px;
  margin-bottom: auto;
  padding-top: 5px;
}

.skill-container img {
  width: 150px;
  height: 150px;
  padding-top: 5px;
}

@media (max-width: 1100px) and (min-width: 801px) {
  .skill-container img {
    width: 110px;
    height: 110px;
  }
}



/* PROJECTS STYLING */

.projects-container {
  margin-top: 10vh;
  min-height: 90vh;
}

.projects-container h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 250%;
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15vh;
}

.projects-tony-container {
  display: flex;
  justify-content: space-evenly;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.projects-tony-pics {
  height: 350px;
  position: relative;
}

.projects-desktop-view {
  width: 600px;
  z-index: 1;
  border: 3px solid black;
  border-radius: 1vw;
}

.projects-mobile-view {
  width: 200px;
  position: relative;
  bottom: 200px;
  left: 250px;
  z-index: 3;
  border: 3px solid black;
  border-radius: 1vw;
}

.tony-portfolio-description {
  font-family: 'Lato', sans-serif;
  font-size: 125%;
  text-align: start;
  width: 400px;
  height: fit-content;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 60px;
}




/* 
font-family: 'Lato', sans-serif;
font-family: 'Roboto', sans-serif;

Giving the divs below some physical attributes so they behave more 
consistently as locations for the navigation bar to use.
*/

#skills-section {
  width: 80%;
  opacity: 0;
  height: 1px;
}

#projects-section {
  width: 80%;
  opacity: 0;
  height: 1px;
}

#contact-section {
  width: 80%;
  opacity: 0;
  height: 1px;
}

#resume-section {
  width: 80%;
  opacity: 0;
  height: 1px;
}