body {
  background-image: url('./images/shattered-darker.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.App {
  text-align: center;
}


/* 
font-family: 'Merriweather', serif;
 */